include includes/base
    div(class="container")
        div(class="row")
            div(class="col-md-6" align="center")
                h2 How to contact us:
                p
                    != 'E-mail: horshamdojomentor@gmail.com <br><br>'

                h2 How to find us:
                p
                    != 'The Learning Resource Centre <br>'
                    != 'Tanbridge House School <br>'
                    != 'Farthings Hill <br>'
                    != 'Guildford Road <br>'
                    != 'Horsham <br>'
                    != 'RH12 1SR <br><br>'
            div(class="col-md-6")
                h2(align="center") Horsham Map:
                style
                    include includes/map/map.css
                include includes/map/dojo_map.html
                p
                    != '<br><br>'
    div
        h2(align="center") School Map:
        img(class="img-responsive" src="../assets/images/THS_map.png")