include includes/base
div.container

    include includes/header.html

    include includes/navbar.html

    div(class="row")
        div(class="col-md-8")
            include includes/jumbotron.jade
            include includes/aboutDojo.jade
            include includes/FAQ.jade

        div(class="col-md-4")

            include includes/calendar.html