include includes/base
div.container

    include includes/header.html

    include includes/navbar.html


    p This is some basic boiler plate for:
    ul
        li A Node.js server
        li Jade templating
        li Bootstrap styling