include includes/base
    div(class="row")
        div(class="col-md-8")
            include includes/jumbotron.jade
            include includes/aboutDojo.jade

        div(class="col-md-4")
            //include includes/calendar.html
            style
                include ../css/customOverwrite.css

            - var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            h1(align="center") Dojo Dates
            each event in dojoEvents
                - dojoDate = event.start.dateTime;
                div(class="panel panel-default" id="calendarPanel")
                    if event.summary.includes("NO")
                        div(class="panel-heading calendarPanel-heading-red") #{event.summary}
                    else
                        div(class="panel-heading") #{event.summary}

                    div(class="panel-body" id="calendarPanel-body") #{new Date(dojoDate).getDate()} #{monthNames[new Date(dojoDate).getMonth()]}
