include includes/base
div.container

    include includes/header.html

    include includes/navbar.html

    div(class="row")
        div(class="col-md-8")
            p This is some basic boiler plate for:
            ul
                li A Node.js server
                li Jade templating
                li Bootstrap styling

        div(class="col-md-4")

            include includes/calendar.html