include includes/base
    div(class="row")
        div(class="col-md-8")
            include includes/jumbotron.jade
            include includes/aboutDojo.jade

        div(class="col-md-4")
            //include includes/calendar.html
            h1 Dojo Dates
            p Below are the Google Calendar dates
            h3 #{dojoEvents}