include includes/base
    div(class="row")
            div(class="col-md-8")
                include includes/jumbotron.jade
                include includes/aboutDojo.jade
            div(class="col-md-4")
                if dojoEvents
                    include includes/custom_calendar.jade

                else
                    include includes/calendar.html

