include includes/base.jade
    if loggedInUser
        h1 Welcome #{loggedInUser.NickName}!
    else
        if error
            p
                font(color="red") #{error}

        form(method='POST' action='/login')

            input(type="hidden" name='_csrf' value=csrfToken)

            div(class="form-group")
                label Nick Name
                br
                input(type="text" placeholder="funkyMonkey12" name="nickName" required)

            div(class="form-group")
                label Password
                br
                input(type="password" placeholder="p4ssw0rd" name="password" required)

            br
            input(type='submit' value='Submit')