include includes/base.jade
    include includes/mentorNav.jade
    script
        include ../js/Chart.bundle.min.js
        include ../js/attendance.js
    div
        h1 Attendance Graph
        canvas(id="attendanceChart" width="400" height="200")
        script
                include ../js/attendance.js
