include includes/base.jade
    include includes/mentorNav.jade
    script
        include ../js/Chart.bundle.min.js
        include ../js/attendance.js
    div
        h1 Attendance Graph
        br
        canvas(id="attendanceChart" width="400" height="150")
        br
        br
        div(class="col-md-6")
            h1 Most Attended Dojos
            br
            canvas(id="attendanceTopScores" width="100" height="200")
        script(type='text/javascript').
            var attendanceData =!{JSON.stringify(attendanceData)};
            var attendanceTopScoresData =!{JSON.stringify(attendanceTopScoresData)};
        script
            include ../js/attendance.js
