include includes/base.jade
    include includes/mentorNav.jade
    script
        include ../js/Chart.bundle.min.js
        include ../js/attendance.js
    div
        h1 Attendance Graph
        br
        canvas(id="attendanceChart" width="400" height="100")
        script(type='text/javascript').
            var attendanceData =!{JSON.stringify(attendanceData)};
        script
            include ../js/attendance.js
