include includes/base.jade
    script
        include ../js/merchandise.js
    div.col-md-8
        include includes/merchandise/merchandiseForm

    div.col-md-4
        h3 Basket:
        if basket
            p #{JSON.stringify(basket)}
        else
            p Nothing in the basket :(

    div.merchandise_demo_images
        img(src="../assets/images/merchandise/hoodyFront.JPG")
        img(src="../assets/images/merchandise/hoodyBack.JPG")