include includes/base.jade
    div
        include includes/merchandiseForm
    div.merchandise_demo_images
        img(src="../assets/images/merchandise/hoodyFront.JPG")
        img(src="../assets/images/merchandise/hoodyBack.JPG")
