- var products = ["Child Hoody", "Child T-Shirt", "Adult Hoody", "Adult T-Shirt"]

form#merchForm
    //.form-group
    //  label(for='email') Email address
    //  input#email.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
    //  small#emailHelp.form-text.text-muted An invoice will be sent to this address.
    .form-group
      label(for='product') Product
      select(onchange="getAutocompleteData(this.value)" id="product" class="form-control")
        option
          each product in products
            if data && data.item == product
              option(selected) #{product}
            else
              option #{product}
    if data
        .form-group
          label(for='size') Size
          select#size.form-control
            if data
                each size in data.sizes
                    option #{size}

        .form-group
            label(for='colour') Colour
            select#colour.form-control
                if data
                    each colour in data.colours
                        option #{colour}
        .form-group
          label(for='quantity') Quantity
          select#quantity.form-control
            option 1
            option 2
            option 3
            option 4
            option 5
        .form-group
          label(for='details') Additional details or queries for this product
          textarea#details.form-control(rows='3')

if data
    button.btn.btn-primary(onclick="validateAndStore()") Add item(s)
