doctype html
html(lang="en")
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject

        body
            if email_sending_to == "printers"
                include order_placed_osborne
            else if email_sending_to == "client"
                include order_placed_client