h1 What do you actually do?

p We give small inputs to groups to get started on new projects and then support them week on week. Some students come to do their own thing, some students follow the path we set. Most come up with their own extensions as time progresses. Examples of what we’ve done so far include:

    ul
        li Basic text based adventure games using basic If statements and functions.

        li Basic drawing and games using curses

        li Experimenting with the Raspberry Pi to:
            ul
                li Light LEDs

                li Print using a thermal printer

                li Control a robotic arm

        li Using the new Micro-bits to code flashing LEDs and make use of the accelerometer.

        li Basic HTML and CSS