doctype html
html
    head
        include heap.html

        style
            include ../../bower_components/bootstrap/dist/css/bootstrap.css
            include ../../bower_components/bootstrap/dist/css/bootstrap-theme.css
            include ../../css/lavish-bootstrap.css
            include ../../css/customOverwrite.css
            include ../../css/snow.css
        script
            include ../../bower_components/jquery/dist/jquery.js
            include ../../bower_components/bootstrap/dist/js/bootstrap.js
            include ../../js/navBar.js
            include ../../js/js.cookie.js
            include ../../js/snow.js


    body
        - var n = 0;
        - var numOfSnowBalls = 100;
        while n <= numOfSnowBalls
            if n < numOfSnowBalls / 3
                img(class="snowflake" id="snowflake#{n++}" src="/assets/images/snowFlake.png")
            if n < numOfSnowBalls / 3 * 2
                img(class="snowflake snowflakeMedium" id="snowflake#{n++}" src="/assets/images/snowFlake.png")
            else
                img(class="snowflake snowflakeSmall" id="snowflake#{n++}" src="/assets/images/snowFlake.png")


        div.container


            include header.html

            include navbar.html