doctype html
html
    head
        style
            include ../../bower_components/bootstrap/dist/css/bootstrap.css
            include ../../bower_components/bootstrap/dist/css/bootstrap-theme.css
        script
            include ../../bower_components/jquery/dist/jquery.js
            include ../../bower_components/bootstrap/dist/js/bootstrap.js

    body