h1 FAQ
p
    ul
        li When and Where is it?

            p Tanbridge House School kindly offer up their Learning Resource Centre (LRC) each Saturday 10:30 - 13:30.

            p Tanbridge House School, Farthings Hill, Guildford Rd, Horsham RH12 1SR



        li Would I have to come every week?


            p Not at all. You can come whenever you're available!



        li Do I need to be DBS checked?

            p Not necessarily. We need to ensure we have a handful of DBS checked mentors on site so we may ask if you’d mind completing this process down the line.



        li How skilled do I need to be?

            p To be honest, you require no coding experience. As long as your interested you can learn at the same time as the students.



        li What languages do you teach?

            p Our main focus is on Python however we certainly don’t limit ourselves to it. We’re currently considering looking into a bit of java script and try and support the students in what-ever languages take their fancy.



        li What do you actually do?

            p We give small inputs to groups to get started on new projects and then support them week on week. Some students come to do their own thing, some students follow the path we set. Most come up with their own extensions as time progresses. Examples of what we’ve done so far include:

                ul
                    li Basic text based adventure games using basic If statements and functions.

                    li Basic drawing and games using curses

                    li Experimenting with the Raspberry Pi to:

                    ul

                        li Light LEDs

                        li Print using a thermal printer

                        li Control a robotic arm

                    li Using the new Micro-bits to code flashing LEDs and make use of the accelerometer.

                    li Basic HTML and CSS



        li Do I (or Students) need to bring a computer?

            p No - but it certainly allows students to get more from the sessions. We do have a number of Raspberry Pi's and desktop PCs that can be used by students who do not have a laptop.



        li Will I have to present to the group?

            p No. We encourage group sharing via weekly 'show & tell' as it gives a great opportunity for students and mentors to show off their successes and explain the challenges they have overcome - but you don't need to run group training or present to the group if you don't feel comfortable with it.



        li Where can I find out more?

            p We are throwing together a new basic website at the moment and it will be up very shortly at http://www.horshamcoderdojo.org.uk. The calendar on the site will keep you informed of when sessions are on.