div(class="jumbotron")
    h1 What is Coder Dojo?
    p
        | Horsham Coder Dojo is a weekly open and free club for students aged 10 and up.
        | The aim of the club is to have a place where everyone can develop and learn from each other.
