ul(class="nav tom-nav-pills")
    li(id="mentor_navbar_undefined" role="presentation")
        a(href="/mentor") Dashboard

    li(id="mentor_navbar_register" role="presentation")
        a(href="/mentor/register") Register

    li(id="mentor_navbar_registerDetailed" role="presentation")
        a(href="/mentor/registerDetailed") Detailed Register

    li(id="mentor_navbar_logout" role="presentation")
        a(href="/mentor/logout") Logout
