ul(class="nav tom-nav-pills")
    li(role="presentation")
        a(href="/mentor") Dashboard

    li(role="presentation")
        a(href="/register") Register

    li(role="presentation")
        a(href="/registerDetailed") Detailed Register

    li(role="presentation")
        a(href="/logout") Logout