form
    .form-group
      label(for='exampleInputEmail1') Email address
      input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
      small#emailHelp.form-text.text-muted An invoice will be sent to this address.
    .form-group
      label(for='productSelect') Product
      select#productSelect.form-control
        option Hoody Child (£12)
        option T-Shirt Child (£6.95)
        option Hoody Adult (£12 + VAT)
        option T-Shirt Adult (£6.95 + VAT)
    .form-group
      label(for='size') Size
      select#size.form-control
        option S
        option M
        option L
        option XL
        option XXL
        option XXXL
        option XXXXL
        option XXXXL
    .form-group
      label(for='Quantity') Quantity
      select#Quantity.form-control
        option 1
        option 2
        option 3
        option 4
        option 5
    .form-group
      label(for='exampleTextarea') Additional details or queries for this product
      textarea#exampleTextarea.form-control(rows='3')

    button.btn.btn-primary(type='submit') Submit
