- var n = 0;
- var numOfSnowBalls = 100;
while n <= numOfSnowBalls
    if n < numOfSnowBalls / 3
        img(class="snowflake" id="snowflake#{n++}" src="/assets/images/snowFlake.png")
    if n < numOfSnowBalls / 3 * 2
        img(class="snowflake snowflakeMedium" id="snowflake#{n++}" src="/assets/images/snowFlake.png")
    else
        img(class="snowflake snowflakeSmall" id="snowflake#{n++}" src="/assets/images/snowFlake.png")