#calendarPanel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    text-align: center;

}
.panel-body {
    padding: 8px;
    font-weight: bold;
}
.panel-heading {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


    font-weight: bolder;
}

#calendarPanel-body {
    color: black;
}

div.panel div.calendarPanel-heading-red {
    color: red;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #292929;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid black; }
.table > thead > tr > th {
    vertical-align: bottom;
    border-top: 3px solid #1AB31E;
    border-bottom: 3px solid #1AB31E;}
.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
    border-top: 3px solid #1AB31E; }
.table > tbody + tbody {
    border-top: 2px solid #1AB31E; }
.table .table {
    background-color: #000000; }

span.badge {
    font-size: 200%;
}

.jumbotron {
    padding: 10px 5px;
    margin-bottom: 15px;
    color: inherit;
    background-color: #332C2F;
}
