#calendarPanel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    text-align: center;

}
.panel-body {
    padding: 8px;
    font-weight: bold;
}
.panel-heading {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


    font-weight: bolder;
}

#calendarPanel-body {
    color: black;
}

div.panel div.calendarPanel-heading-red {
    color: red;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #292929;
}
