#calendarPanel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    text-align: center;

}
.panel-body {
    padding: 8px;
    font-weight: bold;
}
.panel-heading {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


    font-weight: bolder;
}

#calendarPanel-body {
    color: black;
}

div.panel div.calendarPanel-heading-red {
    color: red;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #292929;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid black; }
.table > thead > tr > th {
    vertical-align: bottom;
    border-top: 3px solid #1AB31E;
    border-bottom: 3px solid #1AB31E;}
.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
    border-top: 3px solid #1AB31E; }
.table > tbody + tbody {
    border-top: 2px solid #1AB31E; }
.table .table {
    background-color: #000000; }

span.badge {
    font-size: 200%;
}

.tombotron {
    padding: 5px 5px 5px 5px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #332C2F;
    max-width: 400px;
}

.tombotron h1,
.tombotron .h1 {
    color: inherit; }
.tombotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200; }
.tombotron > hr {
    border-top-color: #181416; }
.container .tombotron, .container-fluid .tombotron {
    border-radius: 6px; }
.tombotron .container {
    max-width: 100%; }
@media screen and (min-width: 768px) {
    .tombotron {
        padding: 5px 5px 5px 5px }
    .container .tombotron, .container-fluid .tombotron {
        padding-left: 5px;
        padding-right: 5px; }
    .tombotron h1,
    .tombotron .h1 {
        font-size: 63px; } }

h3.register-counter{
    display: inline-block;
}

span.register-counter {
    margin-left: 10px;
}

.tom-nav-pills > li {
    float: left;
    color: #00b000;
    background-color: #858585;
    border-radius: 6px;
}
.tom-nav-pills > li > a {
    border-radius: 4px;
    color: #00b000;
    font-weight: bolder;
    border-color: #858585;
    border-width: 6px;
    background-color: #000000;
    box-shadow: 5px 5px 5px #888888;}
.tom-nav-pills > li + li {
    margin-left: 2px; }
.tom-nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #00b000;
    background-color: #373737; }

.merchandise_demo_images {
    text-align: center;
}

.merchandise_demo_images img{
    max-width: 250px;
    border-radius: 50%;
    border: 5px solid #1AB31E;
    margin: 20px
}

.merchandise_demo_images img:hover{
    transition-duration: 1s;
    transform: scale(1.2) rotate(5deg);
}

#merchForm {
    padding-bottom: 15px;
}

.basket {
    background-color: #303030;
    border-radius: 20px;
    padding: 5px 20px 20px 20px;
    border: 5px solid #00b000;
}

.basket h3 {
    text-align: center;
}

.basket ul{
    padding-bottom: 10px;
}

.basket ul li {
    font-weight: bold;
}

.basket ul li span{
    font-weight: normal;
}

form#place_order_form {
    text-align: center;
}

.order_information h3 {
    text-decoration: underline;
}