body {
  background-color: #000; }

form {
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  align: center;
  border: 3px solid;
  margin: 8px;
  padding: 12px; }
  form button {
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }

#loginForm {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 250px; }
  #loginForm input {
    text-align: center; }
